<% layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="alert alert-danger col-md-6 offset-md-3 py-3 px-4" role="alert">
        <div class="d-flex align-items-center mb-2">
            <svg class="bi me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"/>
            </svg>
            <h3 class="mb-0">Error <%= err.statusCode %></h3>
        </div>
        <p class="mb-0 small"><%= err.message %></p>
    </div>
</div>

